<% properties.each do |p| %>
  <div class="property-info">
    <% if can? :update, p %>
      <%= link_to p.description, edit_property_path(p) %>
    <% else %>
      <%= link_to p.description, property_path(p) %>
    <% end %>
  </div>
<% end %>