  <% if can? :reports, Property %>
    <h2>Reports</h2>
    <%= link_to "Properties available for rent", property_reports_path() %><br />
    <%= link_to "Properties available for sale", property_reports_path %><br />
    <%= link_to "Properties sold this year", property_reports_path %><br />
    <%= link_to "Properties rented this year", property_reports_path %><br />
  <% end %>