<div class="float-right">
  <% if current_user %>
    <%= link_to "Logout", destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to "Login", new_user_session_path %>
    <% if can? :create, User %>
      | <%= link_to "Register", new_user_registration_path %>
    <% end %>
  <% end %>
</div>
<h1>Real State</h1>